
 <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="DSCF0747.jpg" style="opacity: 0.7"> <!-- random image -->
        <div class="caption center-align">

        </div>
      </li>

    </ul>
  </div>



